
/*goole fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*asterix wildcard selector to override default browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*general styles*/
body {
min-height: 100vh;
height: 100%;
display: flex;
flex-direction: column;
color: #3a3a3a;
/*background-color: #DEAEB5;*/
background-color: #ffffff;


}

/*header font*/
header {
    font-size: 10px;
    color:#8C8665;
    font-family: sans-serif;
    /*background-color: #C2BB98;*/
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex; 
    justify-content: space-around;
    align-items: baseline;
  }

  header a {
    text-decoration: none;
    color: #8C8665;
  }

h1 {
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 3px;   
    color: #8C8665;

}

#menu {
    list-style-type: none;
    font-size: 125%;
    letter-spacing: 2px;
    padding-top: 10px;  
      
}

#menu > li {
    margin-bottom: 1em; 
}

.active {
    border-bottom: 1px solid #8C8665;
}

/*navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    color: #8C8665;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #8C8665;
    display: none;
    top: 100%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: #ffffff;
    font-family: sans-serif;
    flex: 1 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    
}


/*hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-vlada-karpovich-4534691\ -\ cropped\ 1.webp") no-repeat center center/cover;
}

#what-is-yoga h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0px;
    color: #c1675f;
    letter-spacing: 2px;
    text-align: center;
    
}

#wiy-p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    color: #8C8665;
}

#wiy-p2 {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    color: #8C8665;
    
}

#benefits-title {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 0px;
    color: #c1675f;
    letter-spacing: 2px;
    text-align: center;
}

#benefits {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 15px;
    font-size: 15px;
    color: #8C8665;
    list-style-type: none;
    text-align: center;
    
}

#newsletter {
    text-align: center;
    color: #8C8665;
}  

#newsletter a {
    color: #c1675f;
}

#visit-tutorials {
    background-color: #8C8665;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#visit-tutorials a {
    color: #ffffff;
}

footer {
    margin-top: auto;
    background-color: #ffffff;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #social-networks {
    text-align: center;
    font-size: 18px;
    color: #8C8665;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #8C8665;
  }

  /*media query for tablets and larger >768px*/
  @media screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1 rem;
    
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        justify-content: flex-end;
    
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 400%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*main content*/
    main {
        /*push main content down to accomodate larger header*/
        margin-top: 77px;
    }
  }

  /*Large devices >992px*/
  @media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #8C8665;
    }

    #hero {
        height: 700px;
    }


  }

  /*v.large laptop screens >1440px*/
  @media screen and (min-width: 1440px) {
    #hero {
        height: 800px;
    }
  }

  /*Tutorials page*/

  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #title-links {
    font-size: 15px;
    color: #c1675f;
    display: flex;
    justify-content: space-around;
  }

  .titles {
    margin-top: 15px;
    margin-bottom: 15px;    
    display: flex;
    justify-content: center;
    color: #c1675f;
    
  }

  hr {
    color: #8C8665;
  }

  h4 {
    display: flex;
    justify-content: center;
    color: #8C8665;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #instructions {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8C8665;
    list-style-type: decimal;
    font-size: 12px;
    line-height: 20px;
  }