/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*asterix wildcard selector to override default browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 60px;
}

/*general styles*/
body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif; 
}

/*header font*/
header {
    font-size: 10px;
    color: #8C8665;
    font-family: sans-serif;
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #8C8665;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: #8C8665;
}

#menu {
    list-style-type: none;
    font-size: 125%;
    letter-spacing: 2px;
    padding-top: 10px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #8C8665;
}

/*navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    color: #8C8665;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #8C8665;
    display: none;
    top: 100%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: #ffffff;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    flex: 1 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

/*hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-vlada-karpovich-4534691-cropped-1-resized-2.webp") no-repeat center center/cover;
}

/*home page text sections*/
#what-is-yoga h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #c1675f;
    letter-spacing: 2px;
    text-align: center;
}

#wiy-p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}

#wiy-p2 {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}

#benefits-title {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 0px;
    color: #c1675f;
    letter-spacing: 2px;
    text-align: center;
}

#benefits {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #3a3a3a;
    list-style-type: none;
    text-align: center;
}
/*home page - newsletter link*/
#newsletter {
    text-align: center;
    color: #8C8665;
}

#newsletter a {
    color: #c1675f;
}
/*home page - vist tutorials link*/
#visit-tutorials {
    background-color: #8C8665;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#visit-tutorials a {
    color: #ffffff;
}
/*footer section*/
footer {
    margin-top: auto;
    background-color: #ffffff;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#social-networks {
    text-align: center;
    font-size: 18px;
    color: #8C8665;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #8C8665;
}
/*Tutorials page*/

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title-links {
    font-size: 15px;
    color: #c1675f;
    display: flex;
    justify-content: space-around;
}

.titles {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    color: #c1675f;
}

hr {
    color: #8C8665;
}

.pose-titles {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #8C8665;
    padding: 10px;
    margin-top: 10px;
}

.videos {
    width: 100%;
    height: 100%;
}

.videos video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.instructions {
    margin: 10px;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    font-size: 12px;
    line-height: 20px;
}

/*Newsletter page*/
#newsletter-intro {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-style: italic;
    background-color: rgba(205, 92, 92, 0.5);
    text-align: center;
}

#subscribe-title {
    padding-bottom: 10px;
}

#newsletter-section {
    padding: 10px;
    font-weight: 400;
    position: relative;
    top: 250px;
    border-style: initial;
    border-radius: 3px;
}

.text-input {
    background-color: rgba(140, 134, 101, 0.5);
    width: 90%;
    height: 20px;
    margin: 5px 10px;
    display: flex;
    align-items: flex-end;
    border: 2px solid #ffffff;
}

#newsletter-main {
    background: url("../images/advanced-bow-from-all-fours-(l)-b-resized-1.webp") no-repeat center center/cover;
}

#newsletter-form {
    color: #ffffff;
    background-color: rgba(140, 134, 101, 0.5);
    padding: 20px;
}

.firstlastemail {
    padding-left: 10px;
}

.subscribe-button {
    border-radius: 3px;
    background-color: #ffffff;
    color: #c1675f;
    padding: 10px;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10px;
}

.subscribe-button:hover {
    background-color: #c1675f;
    color: #ffffff;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
/*media query for iphone 8 and shorter viewport phones*/
@media screen and (min-height: 480px) {
    #hero {
        height: 400px;
    }

    #newsletter-section {
        top: 15px;
    }
}
/*media query for larger phones*/
@media screen and (min-height: 667px) {
    #newsletter-section {
        top: 100px;
    }
}

@media screen and (min-height: 844px) {
    #newsletter-section {
        top: 250px;
    }
}

/*media query for tablets and larger =>768px*/
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
        font-size: 15px;
    }

    #menu>li {
        padding-left: 1rem;
        justify-content: flex-end;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 400%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*main content*/
    main {
        /*push main content down to accomodate larger header*/
        margin-top: 77px;
    }

    /*Turioals page*/
    html {
        scroll-padding-top: 85px;
    }

    .instructions {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }

    ul {
        list-style-type: none;
    }

    /*newletter page*/
    .text-input {
        width: 80%;
    }

    .radio-buttons {
        width: 80%;
        padding-left: 12px;
    }

    .subscribe-button {
        width: 80%;
    }

    #newsletter-form {
        width: 50%;
    }

    #newsletter-section {
        top: 250px;
    }

}

/*Large devices =>992px*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #8C8665;
    }

    #hero {
        height: 600px;
    }

}

/*v.large screens =>1440px*/
@media screen and (min-width: 1440px) {
    #hero {
        height: 800px;
    }
/*turorial page*/
    .instructions{
        font-size: 17px;
        line-height: 25px;
    }
/*newsletter page*/
    #newsletter-section {
        position: relative;
        top: 400px;
    }

    #newsletter-form {
        width: 25%;
    }
}