/*goole fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*asterix wildcard selector to override default browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*general styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;
color: #3a3a3a;
background-color: #DEAEB5;

}

/*header font*/
header {
    font-size: 50px;
    color:#3a3a3a;
    font-family: sans-serif;
    background-color: #C2BB98;
  }

h1 {
    font-family: 'lato', sans-serif;
}

main {
    background-color: #DEAEB5;
    font-family: sans-serif;
}

footer {
    margin-top: auto;
    background-color: #ffffff;
    font-family: sans-serif;
  }




